<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bulletin Board</title>
	<link rel="stylesheet" href="/static/styles.css">
	<link rel="icon" type="image/png" href="/static/favicon.png"/>
	<script src="/static/vendor/tweakpane-1.5.4.min.js"></script>
	<script>window.PORT = {{.Port }}</script>
</head>

<body>
	{{ if not .Images}}
	<main class="main-empty fade-in">
		<div class="py1">No images found in: <code>{{.Folder}}</code></div>
		<div> Ensure that <code>bulletinboard</code> is run in a folder that contains a few image files.</div>
	</main>
	{{else}}
	<div class="loading"></div>
	<main class="main hide">
		<!-- Loads tweakpane here -->
		<section class="customize">
			<div class="tweakpane-mount"></div>
			<hr />
			<div class="key-commands">
				<div class="key-commands-header">Key Commands:</div>
				<div class="key-command-wrap"><span>Previous</span> <kbd>⬅</kbd></div>
				<div class="key-command-wrap"><span>Next</span><kbd style="transform: scaleX(-1);">⬅</kbd></div>
				<!-- <div class="key-command-wrap"><kbd>➡️</kbd><span>Next</span></div> <<<< unicode/font issues? -->
				<div class="key-command-wrap"><span>Open folder/image locally</span><kbd>o</kbd></div>
				<div class="key-command-wrap"><span>Toggle controls</span><kbd>c</kbd></div>
			</div>
		</section>

		<button class="btn-icon btn-tools toggle-customize">
			<img width="20" height="20" src="/static/tool.svg" alt="">
		</button>

		<button class="btn-icon toggle-close hide">
			<img width="20" height="20" src="/static/x-circle.svg" alt="">
		</button>

		<div class="grid-wrap">
			<section class="grid">
				{{range .Images}}
				<img class="item" src="/images/{{.}}"></img>
				{{end}}
			</section>
		</div>
		<footer class="hide"
			style="display: flex; align-items: center; justify-items: center; background: #333; color: #fafafa; flex: 1; width: 100%; padding: 8px; justify-content: center; text-transform: uppercase; letter-spacing: 1px; max-height: 48px; ">
			Built by &nbsp;
			<a target="_blank" style="color: white; text-decoration: none; font-weight: bold"
				href="https://theiceshelf.com">The Ice Shelf.</a>
		</footer>

	</main>

	{{end}}

	<div role="dialog" class="dialog-container hide">
		<div class="dialog">
			<img class="dialogImg" src="" />
		</div>
	</div>

	<script type="module" src="/static/js/main.js"></script>
</body>

</html>