body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  font-family: "Jetbrains Mono", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main {
  display: flex;
}

.grid {
  column-count: 4;
  column-gap: 0.5em;
  padding: 8px;
}

@media(max-width: 1200px) {
  .grid {
    column-count: 3;
  }
}

@media(max-width: 800px) {
  .grid {
    column-count: 2;
  }
}

@media(max-width: 500px) {
  .grid {
    column-count: 1;
  }
}

.item {
  display: block;
  margin-bottom: 0.25em;
  width: 100%;
}

.loading {
  align-self: center;
}

.dialog-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-content: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

.hide {
  display: none !important;
}

.dialog {
  padding: 16px;
  display: flex;
  justify-content: center;
  width: auto;
  height: 85vh;
  align-self: center;
}

.dialogImg {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border: 4px solid white;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.customize {
  position: fixed;
  left: -400px;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 8px;
  transition: all .75s cubic-bezier(.645, .045, .355, 1);
}

.customize-open {
  left: 0px;
}

.btn-icon {
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
  background-image: none;
  background: #fbfbfb;
  border-radius: 50%;
  border: 0.15em solid rgb(251, 251, 251);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.167);
  color: rgba(0, 0, 0, .85);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  transition: all .5s cubic-bezier(.645, .045, .355, 1);
  user-select: none;
  opacity: 0.3;
}

@keyframes border-animation {
  0%   {border-color: #65abf6;}
  25%  {border-color: hsl(196, 50%, 43%);}
  50%  {border-color: rgb(199, 120, 239);}
  100% {border-color: #dedc71;}
}

.btn-icon:hover {
  border-color: #65abf6;
  animation-name: border-animation;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  opacity: 1;
  
}

.btn-icon:active {
  background-color: #f3f0f0;
  border-color: rgb(48, 106, 255);
  opacity: 1;
}

.btn-icon-active {
  border-color: #65abf6;
  animation-name: border-animation;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  opacity: 1;
}

.toggle-customize {
  left: 16px;
  position: fixed;
  bottom: 16px;
}

.toggle-close {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 20000000000;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}